.slick-prev:before, .slick-next:before {
    color: black;
}

.slick-arrow {
    height: 50px;
    width: 50px;
    font-size: 40px;
}
.slick-prev {
    left: -60px;

}
.slick-next {
    right: -60px;
}

.slick-dots li button:before {
    font-size:30px;
}