.slick-slider {
    padding-top:10px;
    text-align: left;
}
.slick-prev:before, .slick-next:before {
    color: black;
    font-size: 40px;

}

.slick-arrow {
    height: 50px;
    width: 50px;
}
.slick-prev {
    left: -80px;

}
.slick-next {
    right: -80px;
}
.slick-dots {
  bottom: 0px;
}
.slick-dots li {
    margin: 0 15px;
}
.slick-dots li button {
    width: 0px;
    height: 30px;
}

.slick-dots li button:before {
    font-size:20px;
}

img.process {
    width: 500px;
    float:right;
}
img.ci {
    width: 400px;
    float:left;
    margin-right:80px;
}
img.planningprocess {
    width: 400px;
    float:right;
    margin-top:30px;
}
img.tools {
    width: 500px;
    float:right;
    margin-top:40px;
}
img.improvement {
    width: 500px;
    float:right;
    margin-top:40px;
}
img.done {
    width: 500px;
    float:right;
    margin-top:40px;
}
img.githubflow {
    width: 500px;
    float:right;
    margin-top:40px;
}
p.intro {
    position: relative;
    z-index: 2;
}

h2 {
    font-size:1.2em;
}