@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "components/slider.css";

.App {
  text-align: center;
}

.Main {
  width: 80%;
  text-align: center;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
