@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "components/slider.css";

*, html {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  max-height: 100%;
  display: block;
}

.App-header {
  background-color: #222;
  height: 15%;
  padding: 0 10px;
  color: white;
}

.Main {
  width: 80%;
  text-align: center;
  margin: auto;
}

.Header-item {
  display: inline-block;
}

.App-logo {
  height: 80px;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}
