/*!*Header font color # f79520*!*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Source+Sans+Pro|Sunflower:300');

.App {
    font-family: 'Sunflower', 'sans-serif';
}

/* ********     HEADER ******** */

.App-header {
    padding: 0 10%;
    min-height: 20vh;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    background-color: #333f49;
    color: #f3f3f4;
}

.Header-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo-wrapper img {
    height: 15vh;
}

.title-wrapper {
    text-align: left;
    padding-left: 25px;
}

.App-title {
    color: #f79520;
    font-size: 2.5vw;
}

.App-motto {
    font-size: 1.5vw;
}

/* ********     MAIN    ******** */

.Main {
    margin-top: 20px;
}

.App-section {
    font-size: 1.25em;
}

.App-section ul {
    padding-left: 2%;
    list-style: none;
}

.section-header {
    color: #333f49;
    line-height: 150%;
    font-size: 2.75vh;
    text-shadow: 1px 2px 1.5px rgba(0,0,0,0.3);
    padding: 5px 0;
}

.section-subheader {
    font-weight: bold;
    font-size: 2vh;
    padding: 5px 0;
}

/* ********     UTILS    ******** */
.capitalize {
    text-transform: uppercase;
}

.slick-dots button{
    position: absolute;
    margin-top: 5vh;
}